.carro{
    width: 100%;
    height: 1000px;
    background-color: rgb(92, 92, 92);
}

.imgCarro{
    width: 100px;
    height: 100px;
}

.vacio{
    padding-top: 250px;
}

.carroVacio{
    width: 100%;
    height: 800px;
}

.imagenCarro{
    border-radius: 10px;
}