.widget{
    width: 65px;
    height: 65px;
    border-radius: 10px;
}

button{
    background-color: black;
}

.cantidad{
    text-decoration: none;
    padding: 15px;
}

.widgetDiv{
    display: flex;
}