.nav{
    margin: 0;
    position: sticky;
    background-color: black;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.titulo{
    width: 15%;
    color: white;
    font-size: 35cdpx;
}

.botones{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
button:hover{
    color: rgb(22, 101, 121);
}

.categorias{
    width: 500px;
    display:flex;
    justify-content: space-around;
}