.nav{
    background-color: black;
}
.titulo{
    color: white;
    font-size: 35px;
}
.titulo:link{
    text-decoration: none;
}

.botones{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
button:hover{
    color: rgb(22, 101, 121);
}

.categorias{
    width: 500px;
    display:flex;
    justify-content: space-around;
}