.contador{
    width: 300px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.sumaResta{
    width: 40%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

.boton{
    width: 40px;
    height: 40px;
    margin: 10px;
}

.agregar{
    margin: 20px;
}